/* ~/.config/wofi/style.css */
* {
    font-family: 'JetBrainsMono Nerd Font', 'SF Pro Text';
    font-weight: bold;
}
/* The main window container */
#window {
    /*border-radius: 10px; /* Rounded corners for the entire window */
    background-color: rgba(00, 00, 00, 0.95); /*#1c1c1c; /* Dark background color */
    border: 2px solid #ccc;
}

/* The search input bar */
#input {
    background-color: rgba(00, 00, 00, 0.95);/*#1c1c1c; /* Same background as window */
    border: 2px solid #fff;
    border-radius: 0px;
    color: #fff;
    margin: 5px; /* Spacing around the input */
    padding: 5px;
}

/* The box that contains all the entries (the list) */
#inner-box {
    margin: 5px;
}

/* Individual entries */
#entry {
    padding: 0.25em; /* Spacing within each entry */
    background: transparent; /* Entries use the inner-box background by default */
    color: #bcbcbc; /* Default text color for entries */
}

/* The selected (highlighted) entry */
#entry:selected {
    outline: none; /* Remove default outline */
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 4px
}

/* Text within the entries */
#text {
    padding: 3px; /* Spacing for the text itself */
    color: inherit; /* Inherit color from the entry or selected entry rules */
}

